@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using JobTracker.Services
@inject AuthenticationStateProvider AuthStateProvider
@inject AuthService AuthService
@inject IConfiguration Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="" class="header-logo">
                <img src="images/logo.png" alt="Job Tracker" />
            </a>
            @if (Configuration.GetValue<bool>("LocalMode"))
            {
                <span class="me-3">
                    <i class="bi bi-person-circle"></i>
                    Local User
                </span>
            }
            else
            {
                <AuthorizeView>
                    <Authorized>
                        <span class="me-3">
                            <i class="bi bi-person-circle"></i>
                            @context.User.Identity?.Name
                        </span>
                        <a href="/two-factor-setup" class="me-3" title="Security Settings">
                            <i class="bi bi-shield-lock"></i>
                        </a>
                        <a href="/logout">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">X</span>
</div>
