@using Microsoft.AspNetCore.Components.Authorization
@inject IConfiguration Configuration

<AuthorizeView>
    <Authorized>
        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <nav class="nav flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-briefcase-fill-nav-menu" aria-hidden="true"></span> Job Listings
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="jobs/add">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Job
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rules">
                        <span class="bi bi-sliders-nav-menu" aria-hidden="true"></span> Rules
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="history">
                        <span class="bi bi-clock-history-nav-menu" aria-hidden="true"></span> History
                    </NavLink>
                </div>

                @if (Configuration.GetValue<bool>("LocalMode"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="background-jobs">
                            <span class="bi bi-clock-history-nav-menu" aria-hidden="true"></span> Background Jobs
                        </NavLink>
                    </div>
                }

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="extension-install">
                        <span class="bi bi-puzzle-fill-nav-menu" aria-hidden="true"></span> Browser Extension
                    </NavLink>
                </div>

                @if (!Configuration.GetValue<bool>("LocalMode"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="settings">
                            <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Settings
                        </NavLink>
                    </div>
                }

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="about">
                        <span class="bi bi-info-circle-fill-nav-menu" aria-hidden="true"></span> About
                    </NavLink>
                </div>
            </nav>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-scrollable">
            <nav class="nav flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Sign In
                    </NavLink>
                </div>
            </nav>
        </div>
    </NotAuthorized>
</AuthorizeView>

